# shellcheck shell=bash
if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc" "sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="
fi

watch_file flake.nix
watch_file flake.lock
watch_file devenv.nix

BASE_CONFIG="monolith.yaml"
ROOT="$(pwd)"
while [[ ! -f "$ROOT/$BASE_CONFIG" ]] && [[ ! -d "${ROOT}/.git" ]]; do
  ROOT=$(dirname "$ROOT")
done

echo "Setting AWS config file to ${ROOT}/.aws/config"
export AWS_CONFIG_FILE="${ROOT}/.aws/config"
export AWS_SHARED_CREDENTIALS_FILE="${ROOT}/.aws/credentials"
export TF_PLUGIN_CACHE_DIR="${ROOT}/.terraform"
export TERRAGRUNT_DOWNLOAD="${ROOT}/.terragrunt-cache"

export KUBECONFIG="${ROOT}/.kube/config"
export KUBE_CONFIG_PATH="${ROOT}/.kube/config"

NEON_FILE="${ROOT}/.neon/config"
# read NEON_TOKEN from .neon/config
if [[ -f "$NEON_FILE" ]]; then
  NEON_TOKEN=$(jq -r '.token' "$NEON_FILE")
  export NEON_TOKEN
fi

if ! use flake . --impure
then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi

